.section {
  position: relative;
  padding: 6rem 2rem;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.3;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 3rem;
  text-align: center;
  position: relative;
  font-family: "Playfair Display", serif;
  font-family: "Playfair Display", serif;
}

.title::after {
  content: "";
  display: block;
  width: 110px;
  height: 3px;
  background-color: #333;
  margin: 0 auto;
  margin-top: 0.3rem;
}

.box {
  position: relative;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 3rem;
  max-width: 800px;
  margin: 0 auto 4rem;
  text-align: left;
  /* border-radius: 1rem; */
}

.text {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-top: 1rem;
}
