.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.topfb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textBox {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
  color: #fff;
}

.title {
  font-size: 2.4rem;
  font-weight: medium;
  line-height: 1.4;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.8;
}

.subTitle {
  margin-top: 1rem;
  font-size: 1rem;
  letter-spacing: 0.1em;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  font-family: "Playfair Display", serif;
  color: #fbedd0;
}
