.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 2rem;
  background-color: #d8c7a6;
}

.Doglogo {
  width: 150px;
  height: auto;
}

/* 右側（nav + hamburger） */
.right {
  display: flex;
  align-items: center;
}

.nav {
  font-family: "Playfair Display", serif;
  display: block;
}

.ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.a {
  font-size: 24px;
  color: #333;
  text-decoration: none;
}
.a:hover {
  color: #0077cc;
}

.closeButton {
  position: absolute;
  top: 1.2rem;
  right: 1.5rem;
  background: none;
  border: none;
  font-size: 2.5rem;
  cursor: pointer;
  color: #333;
}

@media (max-width: 768px) {
  .nav {
    position: fixed;
    inset: 0;
    background-color: #d8c7a6;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
  }

  .open {
    transform: translateY(0);
  }

  .ul {
    flex-direction: column;
    gap: 2rem;
  }
}
