.footer {
  background-color: #d8c7a6;
  text-align: center;
  padding: 2rem;
  font-size: 24px;
}

.title {
  font-family: "Playfair Display", serif;
  padding-bottom: 1rem;
}

.subtitle {
  padding-bottom: 1rem;
}
